/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.idea/
/private/
*.iml
conf/conf.json
.vscode
/gen/gen
/tool/sana_client
/tool/*.csv
.env*
htmls/*.html
jre-passenger-data
tool/download
.DS_Store
bin/download
bin/jre-passenger-data
bin/*.exe
csv